.infoBox {
  flex: 1;
  cursor: pointer;
  margin-left: 0px;
  margin-right: -250px;
  height: 170px;
}

.darkinfoBox {
  flex: 1;
  cursor: pointer;
  background-color: #333 !important;
  color: white !important;
  margin-left: 0px;
  margin-right: -250px;
  height: 170px;
}

.darkinfoBox:nth-child(1),
.infoBox:nth-child(1) {
  background-color: #ff4a4a !important;
}

.darkinfoBox:nth-child(2),
.infoBox:nth-child(2) {
  background-color: #367fff !important;
}

.darkinfoBox:nth-child(3),
.infoBox:nth-child(3) {
  background-color: #636363 !important;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.darkinfoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.darkinfoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox--red {
  border-color: red;
}

.darkinfoBox--red {
  border-color: red;
}

.infoBox__cases--green {
  color: lightgreen !important;
}

.darkinfoBox__cases--green {
  color: lightgreen !important;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 15px;
}

.darkinfoBox__total {
  color: white !important;
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 15px;
}

.darkinfoBox__title {
  color: white !important;
}
